* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #FFF7ED;
    height: 111.62px;
    align-items: center;
    padding: 2% 4%;
}
main {
    height: 100%;
    width: 100%;
    background-color: #FFF7ED;
}
footer {
    margin-top: auto;
    background-color: #252525;
    height: 85px;
    color: #AAAAAA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo {
    font-weight: 900;
    color: black;
    line-height: 40.27px;
    text-decoration: none;
    font-size: 28px;
    vertical-align: middle;
}
header > nav  {
    font-size: 18px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
header > nav > a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    min-width: 80px;
    margin-left: 1%;
}
header > nav > a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}
.active-link {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #161616;
    font-weight: 600;
}

/* Home page */
.home-page-container {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) , url("./src/assets/homepagebanner.png"); /* Learnt this today */
    height: 750px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: start;
    padding: 2% 4% 10%;
    margin: auto ;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: start;
    justify-content: center;
    color: #FFFFFF;  
}

.home-page-header {
    font-size: 36px;
    line-height: 42px;
    margin: 2% 0 1%;
}
.home-page-details {
    font-size: 16px;
    margin: 2% 0 1%;
}
.link-button {
    width: 100%;
    height: 49px;
    background-color: #FF8C38;
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    padding: 1% 0;
    align-items: center;
    justify-content: center;
    margin: 3% auto;
}

/* About page*/
.about-page-container {
    color: #161616;
    padding: 3% 4%;
}
.about-page-image {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.about-page-detail {
    margin: 1% auto;
}
.about-page-detail > h2 {
    font-size: 32px;
    font-weight: bold;
}
.about-page-detail > p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}
.about-page-bottom-card {
    background-color: #FFCC8D;
    padding: 7% 8%;
    border-radius: 5px;
    margin: 6% auto;
}
.about-page-bottom-card > h3 {
    margin-bottom: 6%;
    line-height: 30px;
    font-weight: 700;
    font-size: 24px;
}
.about-page-link-button {
    background-color: #161616;
    color: #FFFFFF;
    text-decoration: none;
    padding: 2% 3%;
    border-radius: 10px;
    font-size: 16px;
}

/* Vans page */
.vans-container  {
    color: #161616;
    padding: 3% 4%;    
}
.vans-container > h1 {
    margin-bottom: 3%;
    padding: 1% 2%;
}
.vans-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 2fr)); /* Learnt this today */
    gap: 20px;
}
.filter-buttons-list {
    padding: 1% 2%;
}
.filter-buttons-list > a {
    text-decoration: none;
}
.van-tile {
    padding: 1% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.van-tile > a {
    color: #161616;
    text-decoration: none;
}
.van-image {
    width: 25rem;
    height: auto;
    border-radius: 5px;
    margin-bottom: 2%;
}
.van-detail {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 31.66px;
    font-weight: 600;
    margin: 2% 0;
}
.price-per-day {
    font-size: 14px;
    font-weight: 500;
}
.van-type {
    height: 34px;
    border-radius: 5px;
    width: 85.71px;
    color: #FFFFFF;
    text-transform: capitalize; /* Learnt this today */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.simple {
    background-color: #E17654;
}
.rugged {
    background-color: #115E59;
}
.luxury {
    background-color: #161616;
}

/* Van Detail page */
.individual-van-detail-container {
    color: #161616;
    padding: 3% 4%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.link-to-back  {
    margin-bottom: 3%;
    text-underline-offset: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    color: #858585;
}
.link-to-back span {
    color: #201F1D;
}
.link-to-back  span:hover {
    text-decoration: underline;
}
.individual-van-image {
    width: 450px;
    height: auto;
    margin: 0 auto 4%;
    object-fit: cover;
    border-radius: 5px;
}
.individual-van-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
}
.individual-van-detail > .van-type {
    margin-bottom: 2%;
}
.individual-van-detail > .van-name {
    font-size: 32px;
    font-weight: 700;
}
.individual-van-detail > .van-price {
    font-size: 24px;
    margin: 2% 0 4%;
    font-weight: 700;
}
.van-price > .price-per-day {
    font-size: 22px;
}
.individual-van-detail > .van-description {
    font-size: 16px;
    font-weight: 500;
}
.individual-van-detail > .link-button {
    font-size: 20px;
}
/* Host page */
.host-page-container{
    color: #161616;
    padding: 3% 4%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.host-page-nav {
    font-size: 18px;
    text-decoration: none;
    display: flex;
    padding: 2% 0 4% 0;
}
.host-page-nav > a {
    text-decoration: none;
    color: #161616;
    font-weight: 500;
    min-width: 80px;
    padding: 5px 20px;
    margin-left: 1%;
}
.host-page-nav > a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 700;
}
.host-page-nav > .active-link {
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #161616;
}
.host-vans-container {
    padding: 2% 4%;
    width: 100%;
}
.host-vans-container > h1 {
    font-size: 32px;
    margin: 1% auto 4%;
}
.host-vans-list {
    display: flex;
    flex-direction: column;
}
.host-individual-van-tile {
    background-color: #FFFFFF;
    height: 11rem;
    border-radius: 6px;
    padding: 0 1% ;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
}
.host-vans-list > a {
    text-decoration: none;
}
.host-individual-van-tile > img {
    width: 9rem;
    border-radius: 5px;
    margin: 0 5% 0 2%;
}
.host-individual-van-tile-detail > .host-van-name {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: #161616;
}
.host-individual-van-tile-detail > .host-van-price {
    font-size: 16px;
    font-weight: 500;
    color: #4D4D4D;
}
/* Host each van detail */
.host-individual-van {
    width: 100%;
}
.host-individual-van-container {
    background-color: #FFFFFF;
    padding: 3% 2%;
    margin-top: 5%;
}
.host-individual-van-tile {
    margin: 0% auto 3%;
    width: 100%;
    display: flex;
}
.host-individual-van-tile > .van-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.host-individual-van-tile > .van-detail > .van-name {
    font-size: 26px;
}
.host-individual-van-tile > .van-detail > .van-price {
    font-size: 19.54px;
    font-weight: 700;
}
.host-individual-van-tile > .van-detail > .van-price > .price-per-day {
    font-size: 16.29px;
    font-weight: 500;
}
.host-individual-van-container > nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
    width: 35%; 
}
.host-individual-van-container > nav > a {
    padding: 0 3%;
    text-decoration: none;
    color: #4D4D4D;
}
.host-individual-van-container > nav > a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}
.host-individual-van-container > nav > .active-link {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #161616;
    font-weight: 600;
}
.individual-van-info > p {
    margin: 2% auto;
}
.individual-van-price > p {
    font-size: 24px;
    font-weight: 500;
    color: #161616;
}
.individual-van-price > .price-per-day {
    font-size: 20px;
    color: #4D4D4D;
}
.individual-van-container {
    padding: 2% 3%;
}
.filter-buttons-list {
    display: flex;
    margin-bottom: 5%;
}
.filter-buttons-list > .van-type {
    background-color: #FFEAD0;
    color: #4D4D4D;
    padding: 2% 3%;
    margin-right: 5%;
}
.filter-buttons-list > .clear {
    color: #4D4D4D;
}
.filter-buttons-list > .van-type:hover {
    color: #FFEAD0;
}
.filter-buttons-list > .van-type.simple:hover,.van-type.simple.selected {
    background-color: #E17654;
}
.filter-buttons-list > .van-type.rugged:hover,.van-type.rugged.selected {
    background-color: #115E59;
}
.filter-buttons-list > .van-type.luxury:hover, .van-type.luxury.selected{
    background-color: #161616;
}
.filter-buttons-list > .van-type:focus {
    outline: none;
}
.filter-buttons-list > .van-type.selected {
    color: #FFEAD0;
}
.filter-buttons-list > button {
    border: none;
    background-color: inherit;
}
.notFound-container {
    align-items: center;
    padding: 10% 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.notFound-container > h1 {
    font-size: 32px;
    margin: 5% 0;
}
.notFound-container > a {
    background-color: #161616;
    color: #FFFFFF;
    text-align: center;
    padding: 2% 4%;
    border-radius: 10px;
    font-size: 18px;
    max-width: 500px;
    text-decoration: none;
}