* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #FFF7ED;
    height: 111.62px;
    align-items: center;
    padding: 2% 4%;
}
.header-logo {
    font-weight: 900;
    color: black;
    line-height: 40.27px;
    text-decoration: none;
    font-size: 28px;
    vertical-align: middle;
}
header > nav  {
    font-size: 18px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
nav > a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    min-width: 80px;
    margin-left: 1%;
}
.active-link {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #161616;
}

/* Home page */
.home-page-container {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) , url("./src/assets/homepagebanner.png");
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: start;
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    gap: 3%;
    align-items: start;
    justify-content: center;
    color: #FFFFFF;  
}

.home-page-header {
    font-size: 36px;
    line-height: 42px;
    margin: 2% 0 1%;
}
.home-page-details {
    font-size: 16px;
    margin: 2% 0 1%;
}
.link-button {
    width: 100%;
    height: 49px;
    background-color: #FF8C38;
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    padding: 1% 0;
    align-items: center;
    justify-content: center;
    margin: 3% auto;
}

/* About page*/
.about-page-container {
    background-color: #FFF7ED;
    color: #161616;
    padding: 5% 4%;
}
.about-page-image {
    height: 233px;
    width: 100%;
    object-fit: cover;
}
.about-page-detail {
    margin: 1% auto;
}
.about-page-detail > h2 {
    font-size: 32px;
    font-weight: bold;
}
.about-page-detail > p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}
.about-page-bottom-card {
    background-color: #FFCC8D;
    padding: 7% 8%;
    border-radius: 5px;
    margin: 6% auto;
}
.about-page-bottom-card > h3 {
    margin-bottom: 6%;
    line-height: 30px;
    font-weight: 700;
    font-size: 24px;
}
.about-page-link-button {
    background-color: #161616;
    color: #FFFFFF;
    text-decoration: none;
    padding: 2% 3%;
    border-radius: 10px;
   font-size: 16px;
}